@{
    ViewBag.Title = "Eliminar sin Permiso";
}

<h2>No tiene los permisos para eliminar esta categoria</h2>

<input class="btn btn-primary" type="button" value="Volver"
       onclick="location.href='@Url.Action("VolverPaginaPrincipal","Categorias")'" />