
@{
    ViewBag.Title = "Error";
}

<h1>Error 404</h1>

<input class="btn btn-primary" type="button" value="Cancelar"
       onclick="location.href='@Url.Action("VolverPaginaPrincipal","Categorias")'" />