
@{
    ViewBag.Title = "UrlConLetras";
}

<h2>No se aceptan numeros</h2>

<input class="btn btn-primary" type="button" value="Volver"
       onclick="location.href='@Url.Action("VolverPaginaPrincipal","Categorias")'" />